# Core
requests
beautifulsoup4
pandas

# OCR support
playwright
pillow
pytesseract

# LLM-based enrichment
openai

# pip install -r requirements.txt

# export OPENAI_API_KEY=".."
# source .venv/bin/activate

# python main.py "..."